.navbar-orange {
  background-color: var(--chakra-colors-orange-400);
}

.nav-link {
  position: relative; /* Ajoute une position relative pour positionner le trait */
  transition: color 0.3s; /* Ajoute une transition de couleur pour l'animation */
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.nav-link:hover {
  color: white !important; /* Couleur au survol */
}

.nav-link:hover::before {
  background-color: white; /* Couleur du trait au survol */
}
